/* body
{
    background-color: rgb(from color r g b)
} */
/* CSS Import file*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Roboto:ital@0;1&display=swap');

/* CSS link file */
body
{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

.intro
        {
            color: brown;
            font-size: 60px;
            font-weight: bold;
            font-style: italic;
            text-align: right;
            font: #53545E;
            background: linear-gradient(90deg,blue,yellow);
        }
        .explain
        {
            color: darkblue;
            line-height: 1.8em;
        }
        #test
        {
            color:color-mix(in srgb, color percentage, color percentage);
        }
        p
        {
            color: chocolate;
        }
        p
        {
            color:bisque;
        }